{% extends 'base.html.twig' %}

{% block title %}Ville de Guesnain - La Médiathèque{% endblock %}

{% block body %}
    <p><a href="index.php?option=com_content&amp;view=article&amp;id=17:la-mediatheque&amp;catid=11:les-structures-municipales&amp;Itemid=168"><img src="images/categories/mediatheque.jpg" alt="mediatheque" /></a></p>
<hr id="system-readmore" />
<p>&nbsp;</p>
<!-- INTRO -->
<div class="card mb-3">
<div class="row no-gutters">
<div class="col-md-4"><img src="images/ArticlesFixes/LesStructures/mediatheque/mediatheque.jpg" class="card-img" alt="Médiathèque" /></div>
<div class="col-md-8">
<div class="card-body">
<h5 class="card-title">Médiathèque André STIL</h5>
<p class="card-text">Place Roger Salengro<br /><br />03 27 08 20 40<br />mediatheque@ville-guesnain.fr</p>
</div>
</div>
</div>
</div>
<!-- HORAIRES-->
<div class="card-deck">
<div class="card">
<h5 class="card-header">Présentation</h5>
<div class="card-body">
<p class="card-text">La Médiathèque vous permet de consulter ou d'emprunter plus de 13000 <b>livres</b>, 20 abonnements de <b>magazines</b>, 1100 <b>CD</b> et 400 <b>DVD</b>.</p>
<p class="card-text">Audrey, Emeline, Laurence et Jérôme vous proposent de nombreux ateliers : club de lecture, ateliers informatiques, activités manuelles, lecture à voix haute, jeux de société...</p>
</div>
</div>
<div class="card">
<h5 class="card-header">Horaires d'ouverture</h5>
<div class="card-body">
<p class="card-text">Mardi : 9h-12h / 13h30-18h<br />Mercredi : 9H-12h / 14h-18h<br />Jeudi : 9h-12h / 14h-17h<br />Vendredi : 9H-12h / 14h-18h<br />Samedi : 9h-12h / 14h-17h</p>
</div>
</div>
</div>
<p>&nbsp;</p>
<!-- PLAQUETTES -->
<div class="row">
<div class="col-sm-6">
<div class="card" style="width: 100%;"><img src="images/ArticlesFixes/LesStructures/mediatheque/plaquettes/a-m-j-2019.jpg" class="card-img-top" alt="Programme avril à juin 2019" />
<div class="card-body">
<h5 class="card-title">Avril - Juin 2019</h5>
<p class="card-text">Programme des activités de la période avril, mai et juin 2019.</p>
<a href="images/pdf/mediatheque/programmes/Plaquette - Avril à juin - 2019.pdf" class="btn btn-primary" target="_blanck">Voir le programme</a></div>
</div>
</div>
<div class="col-sm-6">
<div class="card" style="width: 100%;"><img src="images/ArticlesFixes/LesStructures/mediatheque/bientot.jpg" class="card-img-top" alt="Programme juillet et août 2019" />
<div class="card-body">
<h5 class="card-title">Juillet - Août 2019</h5>
<p class="card-text">Le programme des grandes vacances sera bientôt disponible !</p>
<a href="#" class="btn btn-primary" target="_blanck">Voir le programme</a></div>
</div>
</div>
</div>
<!-- JUMBOTRON TARIFS -->
<p>&nbsp;</p>
<div class="jumbotron">
<h1 class="display-4">Tarifs</h1>
<p class="lead">L'abonnement annuel vous permet d'emprunter des livres, magazines, CD et DVD mais également de participer aux ateliers et animations.</p>
<hr class="my-4" />
<p>Vous pouvez emprunter à la fois : 5 livres ou magazines, 4 CD et 2 DVD pour une durée de 3 semaines.</p>
<p>Les postes informatiques, durant les créneaux d'accès libre, vous permettent d'utiliser les outils de bureautique et d'avoir un accès à Internet. Réservation directement à l'accueil de la Médiathèque. (Même si des ordinateurs sont disponibles, l'accès vous sera refusé durant les ateliers scolaires)</p>
<p>Un supplément vous sera demandé pour la participation aux formations informatiques.</p>
</div>
<!-- CARD DECK des Tarifs -->
<div class="card-deck"><!-- -tarif 1 -->
<div class="card">
<div class="card-body">
<h5 class="card-title">Gratuit</h5>
<p class="card-text">L'abonnement à la Médiathèque est gratuit pour les enfants scolarisés à Guesnain ainsi que pour les Guesninois :</p>
<ul>
<li>De moins de 18 ans</li>
<li>Etudiants</li>
<li>Allocataires du R.S.A.</li>
<li>Travailleurs handicapés</li>
</ul>
</div>
</div>
</div>
<p>&nbsp;</p>
<!-- -tarif 2 -->
<div class="card-deck">
<div class="card">
<div class="card-body">
<h5 class="card-title">Guesninois : 12,20€</h5>
<p class="card-text">L'abonnement à la Médiathèque est de 12,20€ pour les Guesninois de plus de 18 ans.</p>
</div>
</div>
<!-- -tarif 3 -->
<div class="card">
<div class="card-body">
<h5 class="card-title">Extérieur : 24,30€</h5>
<p class="card-text">L'abonnement à la Médiathèque est de 24,30€ pour les personnes ne résidant pas dans la commune.</p>
</div>
</div>
</div>
<p>&nbsp;</p>
<!-- autres tarifs -->
<div class="card-deck">
<div class="card">
<div class="card-body">
<h5 class="card-title">Impressions / Photocopies</h5>
<p class="card-text">Le tarif des impressions et des photocopies est de 0,20€ la page.<br /><br />Les Guesninois bénéficient de l'impression de CV et de travaux scolaires gratuitement.</p>
</div>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">Divers</h5>
<p class="card-text"><b>Amendes en cas de retard :</b> 0,15 € par jour ouvré de la médiathèque à partir d’une semaine à compter de l’envoi de la première lettre de rappel.<br /><br /> <b>Perte du document :</b> le document sera remplacé à l’identique aux frais de l’emprunteur, facturé à la valeur d’acquisition ou selon la proposition du responsable de la Médiathèque après avis du Maire.<br /><br /> <b>Perte carte lecteur :</b> 2,30 €.</p>
</div>
</div>
</div>
{% endblock %}
